# -*- python -*-
# ex: set syntax=python:

# The main repo to pull from
REPO = 'https://code.google.com/p/open-lighting/'

# Title, 'project' is appended to the title.
TITLE = "Open Lighting"
# URL of the buildbot
URL = "http://www.openlighting.org"

# The port the slaves connect to
SLAVE_PORT = 9989

# The slaves, broken down by:
# 'platform': {
#    'arch': {
#       [slave names],
#    },
# }
SLAVES = {
  'debian-wheezy': {
    'armv6l': [  # Raspberry Pi slaves
        Slave('noopenslp-1', has_lint=False),
        Slave('withopenslp-1', has_lint=False),
    ],
  },
  'debian-squeeze': {
    '686': [
      Slave('withopenslp', has_lint=False),
    ],
  }
}
