# -*- python -*-
# ex: set syntax=python:

# The base URL for the repo
BASEURL = 'https://github.com/OpenLightingProject/ola'
# Stub to add to the base URL to pull from
REPOSTUB = '.git'
# Stub to add to the base URL to get revision links
REVLINKSTUB = '/commit/%s'

# Title, 'project' is appended to the title.
TITLE = "Open Lighting"
# URL of the project
URL = "http://www.openlighting.org"
# URL of the buildbot
BUILDBOTURL = "http://buildbot.openlighting.org/"

# IRC server
IRCSERVER = "irc.freenode.org"
# IRC bot base name
IRCBOTBASENAME = "OLA-buildbot"
# Main IRC channel
#Reverting to one IRC bot, as buildbot doesn't seem to cope with two properly
#IRCCHANNEL = "#openlighting-buildbot"
# Bot IRC channel
IRCBOTCHANNEL = "#openlighting-build"

# The port the slaves connect to
SLAVE_PORT = 9989

CPP_LINT_ARGS = '--filter=-legal/copyright,-readability/streams,-runtime/arrays'
# Todo, lint for JSDoc and add the strict option
# Possibly also run the closure compiler for any errors and warnings it throws out
JS_LINT_ARGS = '--nojsdoc'

# The slaves, broken down by:
# 'platform': {
#    'arch': {
#       [slave names],
#    },
# }
#Slow slaves will merge requests, good for those that are struggling to keep up
SLAVES = {
  'arch': {
    'i686': [
        Slave('noopenslp-1'),  # josh
    ],
  },
  'debian-squeeze': {
    '686': [
      Slave('withopenslp', has_cpp_lint=True, has_tcmalloc=True),
    ],
    'armv7l': [
      Slave('withopenslp'),
    ],
  },
  'debian-wheezy': {
    'i686': [
        Slave('docs', generate_doc=True, generate_man=True,
              no_build=True),  # simon
    ],
    'armv6l': [  # Raspberry Pi slaves
        Slave('noopenslp-1', has_js_lint=True, is_slow=True),  # Peter
        Slave('withopenslp-1', is_slow=True),  # Simon (Lumen Radio)
    ],
    'arm': [
        Slave('noopenslp-1', is_slow=True),  # Simon (beaglebone black)
    ],
  },
  'freebsd': {
    'amd64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'gentoo': {
    'armv7l': [
      Slave('noopenslp'),  # kripton
    ],
  },
  'mavericks': {
    'x86_64': [
      Slave('withopenslp'),  # mightymu
    ],
  },
  'netbsd': {
    'amd64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'openbsd': {
    'amd64': [
      Slave('noopenslp'),  # RenZO
    ],
  },
  'ubuntu-latest': {
    'x86_64': [
      Slave('noopenslp', has_cpp_lint=True),  # Felicitus
    ],
  },
  'ubuntu-ringtail': {
    'x86_64': [
      Slave('noopenslp', has_cpp_lint=True),  # Josh
    ],
  }
}
